### Build Results

<table>
    <tr>
        <td><strong>Linter</strong></td>
        <td>
            <a href="{{ plugins.static_hosting.ubuntu_linter.link }}">
                {{#if plugins.json.ubuntu_issues.value.issues}}
                    <img src="https://img.shields.io/badge/ubuntu-{{ plugins.json.ubuntu_linter.value.Issues.length }}%20issues-red.svg?style=flat" alt="{{ plugins.static_hosting.ubuntu_linter.sha }} failing">
                {{ else }}
                    <img src="https://img.shields.io/badge/ubuntu-passing-brightgreen.svg?style=flat" alt="{{ plugins.static_hosting.ubuntu_linter.sha }} passing">
                {{/if}}
            </a>
        </td>
        <td>{{ plugins.static_hosting.ubuntu_linter.sha }}</td>
    </tr>
    <tr>
        <td><strong>Tests</strong></td>
        <td>
            <a href="{{ plugins.static_hosting.ubuntu_test_html.link }}">
                <img src="https://img.shields.io/badge/ubuntu-results%20{{ plugins.static_hosting.ubuntu_test_html.status }}-lightgray.svg?style=flat" alt="{{ plugins.static_hosting.ubuntu_test_html.sha }} {{ plugins.static_hosting.ubuntu_test_html.status }}">
            </a>
        </td>
        <td>{{ plugins.static_hosting.ubuntu_linter.sha }}</td>
    </tr>
</table>

### Test Coverage
[![test coverage]({{ plugins.static_hosting.coverage_image.link }})]({{ plugins.static_hosting.coverage_html.link }})

{{{ views.plugins.job_runtime.github.chart }}}
